#bin-container {
    height: 300px;
    width: 200px;
    min-width: 200px;
    background-color: grey;
    border: 1px solid black;
    position: relative;
}

.bin-header {
    cursor: pointer;   
    min-height: 43px;
}

.bin {
    padding-left: 1em;
    padding-right: 1em;
    height: 100%;
    background-color: lightblue;
    border: 1px solid black;
    overflow-y: auto;
}

.bin:hover {
    background-color: lightcoral;
}

.focus-bin {
    min-height: 100px;
}

.focus-container {
   
    flex-direction: column;
    align-self: center;
    text-align: center;
    height: 500px;
    width: 250px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 1;
}