#bin-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    min-width: 200px;
    position: relative;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
    border-radius: 1%;
    padding: 6px;
}

.bin-header {
    display:  flex;
    flex-direction: column;
    cursor: pointer;   
    height: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    background-color: #FAFAFA;
    border-radius: 6px 6px 0px 0px;
}

.bin-header:hover {
    cursor: pointer;   
    filter: brightness(0.95);
}

.day {
    border-radius: 6px 6px 0px 0px;
    height: 20px;
}

.day-text {
    border-radius: 6px 6px 0px 0px;
    background-color: inherit;
    font-family: inherit;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.date-text {
    font-family: inherit;
    font-weight: bold;
    font-size: 30px;
    flex: 0;
}

.bin {
    padding-left: .5em;
    padding-right: .5em;
    height: 100%;
    background-color: #D3D3D3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    overflow-y: auto;
}

.bin:hover {
    background-color: #BABABA;
}

.focus-bin {
    min-height: 100px;
    height: 100%;
    overflow-y: scroll;
}

.focus-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 500px;
    width: 250px;
    margin: auto;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px 6px 6px;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.35);
    z-index: 1;
}