.card {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    border: 1px solid black;
}

.card-header {
    cursor: pointer;
    color: purple;
    background-color: red;
    border-bottom: 1px solid black;
}

.card-content {
    background-color: white;
    color: blue;
}

.task-header {

}

.task-name {
    cursor: text;
    resize: none;
}

.hidden {
    display: none;
}