


.card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    flex: 1;
}

.card-header {
    cursor: pointer;
    color: Black;
    height: 80px;
    background-color: red;
    border-bottom: 1px solid black;
    font-size: 10px;
}

.card-content {
    background-color: white;
    color: blue;
    font-size: 15px;
}

.task-name {
    cursor: text;
    resize: none;
}

.hidden {
    display: none;
}

.headerLabel {

    cursor: text;
}
