#header-container {
    display: grid;
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    grid-column-gap: 5px;
    justify-items: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
    position: relative;
    z-index: 99999;
    background-color: #e0e0e0;
    height: 6em;
    overflow: visible;
    cursor: default;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

.task-window {
    height: 500px;
    width: 250px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

.task-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
}

:root {
    --card-width: 165px;
}

.task-adder {
    font-family: inherit;
    font-weight: bold;
    font-size: 20px;
    justify-self: center;
    align-self: center;
    width: var(--card-width);
    height: 80px;
    background-color: #f89406;
    border-radius: 4px;
    border: 1px solid #f2784b;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
    cursor: pointer;
}

.task-adder:hover {
    background-color: #f4b350;
}

.task-adder:active {
    background-color: #f2784b;
}

.adder-bin {
    width: var(--card-width);
    background-color: rgba(122, 122, 122, 0.5);
    margin-bottom: 0.25em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.18);
    border-radius: 4px;
}
