#header-container {
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.task-window {
    height: 500px;
    width: 250px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

.task-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
}

.overlay {
    position: 'fixed';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: 'rgba(255, 255, 255, 0.75)';
}