#header-container {
    position: relative;
    justify-content: center;
    align-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
    z-index: 99999;
}

.task-window {
    height: 500px;
    width: 250px;
    margin: auto;
    background-color: white;
    border: 1px solid black;
}

.task-form {
    display: flex;
    flex-direction: row;
    align-self: center;
    text-align: center;
}

button {
    margin-bottom: 40px;
}

