.list {
    background-color: #282c34;
    height: 100vh;
    padding: 30px;
  }
  
  .task-list {
    align-items: left;
    background: #e8e8e8;
    border-radius: 4px;
    max-width: 400px;
    padding: 5px;
  }
  
  .task {
    align-items: center;
    background: #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    margin-bottom: 6px;
    padding: 3px 10px;
  }