#bin-container {
    height: 400px;
    width: 250px;
    background-color: grey;
    border: 1px solid black;
}

.bin {
    height: 100%;
    width: 100%;
    background-color: green;
    border: 1px solid black;
}